spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/creatshopdb3?createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
#spring.datasource.url=jdbc:mysql://mysql:3306/creatshopdb?createDatabaseIfNotExist=true
#spring.datasource.username=root
#spring.datasource.password=123
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
auth.token.jwtSecret=JGViDJRhc8aLLR4fCAsbWl5uuWesUxlLYC8kmW8T65MiP3cJKETxyWzHPt1fMbWZ
auth.token.expirationInMils=3600000
auth.token.refreshInMils=7200000
cloudinary.cloud_name=dwx3ovieh
cloudinary.api_key=698482651259189
cloudinary.api_secret=sMbDRcADESZYQkisqQhrXJOgXh8
server.servlet.encoding.charset=UTF-8
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true


# VNPay Configuration
vnp.tmn-code=YOUR_TMN_CODE_HERE
vnp.hash-secret=YOUR_HASH_SECRET_HERE
vnp.url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnp.return-url=http://localhost:5173/payment/vnpay-return
